<div
  class="container m-2"
  [ngClass]="{
    'aqau-background': isBackroundAqua,
    'green-background': !isBackroundAqua
  }"
>
  <div class="row m-2">
    <div class="col">
      <div class="card">
        <div class="card-header">Without Web Worker</div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <button class="btn btn-primary" (click)="addNumbers()">
                Add numbers
              </button>
            </div>
            <div class="col">
              <button class="btn btn-primary" (click)="changeColor()">
                Change Colours
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">With Web Worker</div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <button
                class="btn btn-primary"
                (click)="addNumbersWithWebWorker()"
              >
                Add numbers with web worker
              </button>
            </div>
            <div class="col">
              <button class="btn btn-primary" (click)="changeColor()">
                Change Colours
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
